In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_fulldata = pd.read_csv('../cleaned_data.csv')

### 0.)  What genres are associated with the highest median ROI?

In [3]:
# To break up 'genre' column across a matrix, start with a new dataframe of empty columns for each genre.
genreList = []
for el in df_fulldata['genres'].map(lambda x: str(x).split(",")):
    for el2 in el:
        genreList.append(el2)
genreCols = list(set(genreList))
genres = pd.DataFrame(columns = genreCols)

In [4]:
# Concatenate genres matrix with original dataset.
blankMatrix = pd.concat([df_fulldata, genres], axis = 1)

In [5]:
# Create a function to fill NaNs in matrix. 
def creatematrix(df):
    for row_index, row in df.iterrows():
        for key, value in (dict(row)).items():
            if key == 'genres':
                for el in value.split(","):
                    df.loc[row_index, el] = 1
    df.fillna(0, inplace=True)
    return df

creatematrix(blankMatrix)
df_fulldata = blankMatrix

In [6]:
df_fulldata = pd.read_csv('../movie_data2.csv')

In [7]:
pd.pivot_table(df_fulldata, index='genres', values='worldwide_roi', aggfunc='mean').sort_values(by='worldwide_roi', ascending=False)

                              worldwide_roi
genres
Horror,Mystery,Thriller         2852.428836
Biography,Drama,Fantasy         1267.944000
Comedy,Fantasy                  1046.313826
Action,Mystery,Sci-Fi           1024.470179
Horror                          1016.563401
Action,Comedy,Documentary        858.428965
Comedy,Documentary               852.441810
Adventure,Horror,Mystery         836.481320
Drama,Mystery                    806.577550
Family,Fantasy,Musical           786.999816
Adventure,Drama,Fantasy          770.475174
Drama,Horror,Mystery             752.809040
Crime,Horror,Mystery             722.697072
Adventure,Drama,Western          720.791223
Drama,Horror,Thriller            716.964025
Drama,Fantasy,Music              712.328818
Comedy,Drama,Mystery             712.087367
Drama,Sci-Fi,Thriller            706.937326
Action,Biography,Drama           687.794396
Drama,Horror,Sci-Fi              681.863039
Drama,Romance,Thriller           667.928407
Comedy,Mystery                   658.039191
Horror,Thriller                  621.126495
Biography,Drama,Romance          602.848152
Fantasy,Horror,Thriller          575.166800
Animation,Comedy,Family          574.764961
Comedy,Fantasy,Sci-Fi            571.423750
Drama,Family,Fantasy             562.685635
Action,Drama,Family              559.664282
Mystery,Sci-Fi,Thriller          546.055928
...                                     ...
Crime,Drama,History               16.008442
Comedy,Horror,Mystery             15.790867
Horror,Sci-Fi                     15.031211
Sci-Fi                            12.221429
Documentary,Drama,History         11.750800
Musical                            9.496536
Action,Biography,Crime             8.813242
Biography,Documentary              4.667187
Drama,Thriller,Western             2.595478
Adventure,Horror,Sci-Fi            2.465698
Adventure,Drama                    1.501910
Action,Sport                       1.160629
Action,Biography,Documentary       0.364400
Action,Adventure                   0.261644
Comedy,Horror,Sci-Fi               0.215024
Comedy,Fantasy,Musical             0.121800
Romance                            0.000000
Action,Crime,Fantasy               0.000000
Animation                          0.000000
Action,Horror                      0.000000
Family,Sci-Fi                      0.000000
Family                             0.000000
Animation,Family                   0.000000
Comedy,Crime,Horror                0.000000
Comedy,Horror,Thriller             0.000000
Comedy,Mystery,Thriller            0.000000
Documentary,Drama                  0.000000
Documentary,Drama,Reality-TV       0.000000
Drama,Fantasy,Musical              0.000000
Western                            0.000000

[232 rows x 1 columns]

In [8]:
# blankDict = {}
# for col in genreCols:
#     for row, value in df_fulldata[col].iteritems():
#         print(value)

In [9]:
genreCols

['Action',
 'History',
 'Sport',
 'Horror',
 'Family',
 'Mystery',
 'Documentary',
 'Comedy',
 'War',
 'Adventure',
 'Romance',
 'Fantasy',
 'Western',
 'Sci-Fi',
 'Biography',
 'Drama',
 'Reality-TV',
 'Crime',
 'Thriller',
 'Animation',
 'Musical',
 'Music']

In [33]:
meanROIs = {}
for col in genreCols:
    meanROIs[col] = (df_fulldata.loc[df_fulldata[col] == 1])['worldwide_roi'].mean()
meanROIs

{'Action': 259.9988539173497,
 'History': 254.92438960058377,
 'Sport': 209.987501869861,
 'Horror': 881.836591564456,
 'Family': 254.58301243876713,
 'Mystery': 969.9248385982213,
 'Documentary': 293.522871877546,
 'Comedy': 315.1968272844505,
 'War': 141.1108651187985,
 'Adventure': 308.4311535243923,
 'Romance': 365.5629231612553,
 'Fantasy': 314.2921501341745,
 'Western': 153.4482341410905,
 'Sci-Fi': 360.8434311571901,
 'Biography': 338.1620732118878,
 'Drama': 315.4067198519188,
 'Reality-TV': 0.0,
 'Crime': 215.9071365203199,
 'Thriller': 617.7108137319174,
 'Animation': 367.4419036389642,
 'Musical': 292.6542942120936,
 'Music': 351.7396928505084}

In [11]:
table1 = pd.DataFrame(pd.Series(meanROIs))
table1.columns = ['mean_roi']

In [12]:
medianROIs = {}
for col in genreCols:
    medianROIs[col] = (df_fulldata.loc[df_fulldata[col] == 1])['worldwide_roi'].median()

In [13]:
table2 = pd.DataFrame(pd.Series(medianROIs))
table2.columns = ['median_roi']

In [14]:
stdROIs = {}
for col in genreCols:
    stdROIs[col] = (df_fulldata.loc[df_fulldata[col] == 1])['worldwide_roi'].std()
table4 = pd.DataFrame(pd.Series(stdROIs))
pd.DataFrame(table4.reset_index(inplace=True))
table4.columns = ['genres','stdev']
table4

         genres        stdev
0        Action   266.598979
1       History   242.574139
2         Sport   229.077278
3        Horror  3260.059609
4        Family   257.176175
5       Mystery  3772.410542
6   Documentary   499.158090
7        Comedy   337.264069
8           War   166.915246
9     Adventure   241.723199
10      Romance   449.066341
11      Fantasy   390.659347
12      Western   229.812952
13       Sci-Fi   333.504156
14    Biography   442.768858
15        Drama   462.449961
16   Reality-TV          NaN
17        Crime   222.134389
18     Thriller  2644.906667
19    Animation   286.741717
20      Musical   302.728378
21        Music   418.337964

In [15]:
countROIs = {}
for col in genreCols:
    countROIs[col] = df_fulldata[col].sum()
table5 = pd.DataFrame(pd.Series(countROIs))
pd.DataFrame(table5.reset_index(inplace=True))
table5.columns = ['genres','count']
table5

         genres  count
0        Action    448
1       History     39
2         Sport     34
3        Horror    184
4        Family     93
5       Mystery    126
6   Documentary     49
7        Comedy    515
8           War     17
9     Adventure    350
10      Romance    188
11      Fantasy    124
12      Western     11
13       Sci-Fi    134
14    Biography    135
15        Drama    734
16   Reality-TV      1
17        Crime    233
18     Thriller    265
19    Animation    101
20      Musical      9
21        Music     50

In [16]:
table3 = table1.merge(table2, left_index=True, right_index=True)
table3.sort_values('median_roi', inplace=True, ascending=False)
table3.reset_index(inplace=True)
table3.columns = ['genres','mean_roi','median_roi']
table3

         genres    mean_roi  median_roi
0       Mystery  969.924839  323.341050
1     Animation  367.441904  299.456497
2        Sci-Fi  360.843431  267.273519
3     Adventure  308.431154  263.067059
4        Horror  881.836592  242.936084
5        Comedy  315.196827  234.597167
6       Romance  365.562923  229.971348
7      Thriller  617.710814  229.252657
8         Music  351.739693  228.669935
9       Fantasy  314.292150  217.801272
10       Action  259.998854  211.590115
11       Family  254.583012  200.926080
12    Biography  338.162073  186.987333
13      History  254.924390  186.938932
14        Drama  315.406720  176.019900
15      Musical  292.654294  164.641227
16        Crime  215.907137  163.040095
17        Sport  209.987502  150.384095
18  Documentary  293.522872  146.246129
19          War  141.110865   83.552125
20      Western  153.448234   51.359819
21   Reality-TV    0.000000    0.000000

In [17]:
table3 = table3.merge(table4, on='genres')
table3 = table3.merge(table5, on='genres')

In [18]:
table3

         genres    mean_roi  median_roi        stdev  count
0       Mystery  969.924839  323.341050  3772.410542    126
1     Animation  367.441904  299.456497   286.741717    101
2        Sci-Fi  360.843431  267.273519   333.504156    134
3     Adventure  308.431154  263.067059   241.723199    350
4        Horror  881.836592  242.936084  3260.059609    184
5        Comedy  315.196827  234.597167   337.264069    515
6       Romance  365.562923  229.971348   449.066341    188
7      Thriller  617.710814  229.252657  2644.906667    265
8         Music  351.739693  228.669935   418.337964     50
9       Fantasy  314.292150  217.801272   390.659347    124
10       Action  259.998854  211.590115   266.598979    448
11       Family  254.583012  200.926080   257.176175     93
12    Biography  338.162073  186.987333   442.768858    135
13      History  254.924390  186.938932   242.574139     39
14        Drama  315.406720  176.019900   462.449961    734
15      Musical  292.654294  164.641227   302.728378      9
16        Crime  215.907137  163.040095   222.134389    233
17        Sport  209.987502  150.384095   229.077278     34
18  Documentary  293.522872  146.246129   499.158090     49
19          War  141.110865   83.552125   166.915246     17
20      Western  153.448234   51.359819   229.812952     11
21   Reality-TV    0.000000    0.000000          NaN      1

In [19]:
table3.iloc[[12,14,16]][['genres','median_roi','stdev','count']]

       genres  median_roi       stdev  count
12  Biography  186.987333  442.768858    135
14      Drama  176.019900  462.449961    734
16      Crime  163.040095  222.134389    233

### 1.)  What genres groupings are associated with the highest median ROI?
Genres to target

In [29]:
# Setting up a table with genre counts to inform percent of total by ROI category.
table6 = pd.pivot_table(df_fulldata, index=['genres'], values ='worldwide_roi', aggfunc=['mean','median','std','count'])
table6 = pd.DataFrame(table6)
table6.columns = table6.columns.to_series().str.join('_')
table6 = pd.DataFrame(table6.sort_values('median_worldwide_roi', ascending=False))
table6 = pd.DataFrame(table6.loc[table6['count_worldwide_roi']>9].reset_index())
table6.columns = ['genre_groupings', 'mean_worldwide_roi', 'median_worldwide_roi',
       'std_worldwide_roi', 'count_worldwide_roi']
table6[['genre_groupings','median_worldwide_roi','std_worldwide_roi','count_worldwide_roi']]

/Users/flatironschool/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/pivot.py:42: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  return concat(pieces, keys=keys, axis=1)

TypeError: reset_index() got an unexpected keyword argument 'sort'

In [21]:
# Creating a rank of genres across all ROI categories.
piv0 = pd.pivot_table(df_fulldata, index='genres', values='id', aggfunc='count')
piv0 = piv0.sort_values(by='id', ascending=False).reset_index()
piv0.index.name = 'genre_rank'
piv0 = piv0.reset_index()
piv0.columns = ['genreRank0', 'genres', 'count']
piv0

     genreRank0                      genres  count
0             0  Adventure,Animation,Comedy     67
1             1                       Drama     63
2             2                      Comedy     55
3             3     Action,Adventure,Sci-Fi     52
4             4        Comedy,Drama,Romance     52
5             5                Comedy,Drama     48
6             6              Comedy,Romance     41
7             7          Action,Crime,Drama     39
8             8               Drama,Romance     34
9             9     Horror,Mystery,Thriller     31
10           10         Action,Comedy,Crime     31
11           11                 Documentary     31
12           12    Action,Adventure,Fantasy     31
13           13      Action,Adventure,Drama     28
14           14              Drama,Thriller     25
15           15             Horror,Thriller     24
16           16       Action,Crime,Thriller     23
17           17        Crime,Drama,Thriller     22
18           18     Action,Adventure,Comedy     22
19           19             Action,Thriller     20
20           20     Biography,Drama,History     20
21           21      Biography,Comedy,Drama     18
22           22                      Horror     18
23           23             Biography,Drama     16
24           24         Crime,Drama,Mystery     16
25           25  Action,Adventure,Animation     15
26           26       Action,Drama,Thriller     14
27           27    Adventure,Family,Fantasy     14
28           28        Drama,Horror,Mystery     13
29           29       Biography,Crime,Drama     13
..          ...                         ...    ...
202         202        Comedy,Crime,Romance      1
203         203        Comedy,Romance,Sport      1
204         204               Comedy,Sci-Fi      1
205         205     Biography,Drama,Fantasy      1
206         206     Biography,Drama,Musical      1
207         207     Biography,Drama,Mystery      1
208         208                Comedy,Sport      1
209         209         Crime,Drama,History      1
210         210      Biography,Family,Sport      1
211         211        Drama,Family,Fantasy      1
212         212          Drama,Family,Music      1
213         213     Adventure,Horror,Sci-Fi      1
214         214            Action,Adventure      1
215         215         Drama,Music,Musical      1
216         216      Adventure,Comedy,Music      1
217         217    Adventure,Comedy,Romance      1
218         218     Adventure,Comedy,Sci-Fi      1
219         219             Adventure,Drama      1
220         220     Adventure,Drama,History      1
221         221            Comedy,Music,War      1
222         222       Drama,History,Romance      1
223         223    Adventure,Horror,Mystery      1
224         224       Drama,History,Mystery      1
225         225               Drama,History      1
226         226       Comedy,Mystery,Sci-Fi      1
227         227     Adventure,Drama,Western      1
228         228       Drama,Fantasy,Musical      1
229         229         Drama,Fantasy,Music      1
230         230     Adventure,Family,Sci-Fi      1
231         231                     Western      1

[232 rows x 3 columns]

In [22]:
# Setting up a table with genre counts to inform percent of total by ROI category.
piv1 = pd.pivot_table(df_fulldata, index=['roi_category','genres'], values ='worldwide_roi', aggfunc='count')
piv1.head()

                                         worldwide_roi
roi_category genres
high         Action,Adventure,Animation              2
             Action,Adventure,Comedy                 5
             Action,Adventure,Drama                  1
             Action,Adventure,Fantasy                2
             Action,Adventure,Horror                 1

In [23]:
# Creating a new pivot table to use as divisor with the total count by ROI category, and performing division.
piv2 = piv1.groupby(['roi_category']).agg({'id': 'sum'})
piv3 = piv1.div(piv2, level='roi_category')*100
piv3.reset_index(inplace=True)

/Users/flatironschool/anaconda3/lib/python3.7/site-packages/pandas/core/groupby/generic.py:1315: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

KeyError: 'id'

In [ ]:
# Create a ranking of ROI category to enable sorting.
piv3['r'] = piv3['roi_category'].apply(lambda x: {'high':0, 'somewhat high':1, 'moderate':2, 'somewhat low':3, 'low':4}[x])
piv3.columns = ['roi_category', 'genres', '%', 'r']

In [ ]:
# Adding genreRank0 to pivot table to enable sorting by top genres.
piv4 = piv3.merge(piv0, how="left", left_on='genres', right_on='genres').drop('count', axis=1)
piv4.sort_values(by=['r','genreRank0'], ascending=[True,True], inplace=True)

In [ ]:
# Add additional labels for visualization.
piv4['roi_category2'] = piv4['roi_category'].apply(lambda x: {'high':'high', 'somewhat high':'other', 'moderate':'other', 'somewhat low':'other', 'low':'other'}[x])
piv4['roi_category3'] = piv4['roi_category'].apply(lambda x: {'high':'high', 'somewhat high':np.nan, 'moderate':np.nan, 'somewhat low':np.nan, 'low':'low'}[x])

In [ ]:
piv4.head()

In [ ]:
# Limiting data for visualization.
piv5 = piv4.loc[piv4.genreRank0 < 5]
piv5.sort_values(by=['r','genreRank0'], ascending=[True,True], inplace=True)

In [ ]:
viz1 = sns.catplot(x='genres', y='%', hue='roi_category2', data=piv5, kind='bar', aspect=4);
viz1.set(ylabel="% of total by ROI Category");
viz1;

In [ ]:
plt.figure(figsize=(10, 3));
viz2 = sns.catplot(x='genres', y='%', hue='roi_category3', data=piv5, kind='bar', aspect=4);
viz2.set(ylabel="% of total by ROI Category");
sns.set_context('talk');
viz2;

### 2.)  What are the top genres among high ROI movies? 
Genres to target

#### What are the top genres among low ROI movies?
Genres to avoid